.boardcontent{
    width: 1080px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 16px 8px 10px 16px;
}

.boardcontent:hover{
    cursor: pointer;
}

.boardcontent_left{
    display: flex;
    align-items: center;
}

.boardcontent_left_category{
    padding: 4px 16px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid;
    border-radius: 32px;
}

/* 입양, 정보, 자유 색 */
.boardcontent_left_category.ADOPT{
    border-color: var(--color-green);
    color: var(--color-green);
}

.boardcontent_left_category.FREE{
    border-color: var(--color-red);
    color: var(--color-red);
}

.boardcontent_left_category.INFORMATION{
    border-color: var(--color-blue);
    color: var(--color-blue);
}

.boardcontent_left_title{
    margin: 0px 4px 0px 16px;
    font-size: 16px;
}

.boardcontent_left>img{
    width: 16px;
    height: 14px;
}

.boardcontent_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
}

.boardcontent_right_top{
    display: flex;
    gap: 4px;
}

.boardcontent_right_top_child{
    display: flex;
    align-items: center;
    gap: 2px;
}

.boardcontent_right_top_child>img{
    width: 16px;
    height: 16px;
}

.boardcontent_right_top_child>p{
    font-size: 12px;
    font-weight: 400;
    color: var(--color-gray2);
}

.boardcontent_right_bottom{
    font-size: 12px;
    color: var(--color-gray3);
}