.adoptionDetailShelter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    width: 1025px;
}

.adoptionDetailShelter_info{
    background-color: rgba(114, 200, 90, 5%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 15%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 44px;
    gap: 32px;
    border-radius: 8px;
    flex-grow: 1;
}

.adoptionDetailShelter_info_elem{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 56px;
}

.adoptionDetailShelter_info_elem>p{
    width: 380px;
    color: var(--color-gray1);
}

.adoptionDetailShelter_info_elem>p:first-child{
    font-weight: 600;
    width: 95px;
}
