.interested_pets {
    position: relative;
    width: 630px;
}

.ip_title {
    color: var(--color-gray1);
    font-size: 24px;
    font-weight: bolder;
}

.ip_content {
    margin: 37px 0 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.custom_pet_card {
    transform: scale(0.9);
}

.custom_board_pagination {
    position: absolute;
    top: 900px;
    left: 50%;
    transform: translateX(-50%); 
}