.my_comments {
    position: relative;
    width: 703px;
}

.mc_title {
    color: var(--color-gray1);
    font-size: 24px;
    font-weight: bolder;
}

.mc_content {
    margin: 21px 0 0 0;
}

.custom_board_pagination3 {
    position: absolute;
    top: 680px;
    left: 50%;
    transform: translateX(-50%);
}