.pin_posts {
    position: relative;
    width: 703px;
}

.pp_title {
    color: var(--color-gray1);
    font-size: 24px;
    font-weight: bolder;
}

.pp_content {
    margin: 21px 0 0 0;
}

.custom_board_list_elem {
    width: 703px;
}

.custom_board_pagination2 {
    position: absolute;
    top: 680px;
    left: 50%;
    transform: translateX(-50%); 
}