.join_input {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 258px;
    height: 228px;
}

.ji_container {
    position: relative;
    display: flex;
    align-items: center;
}

.ji_icon {
    position: absolute;
    left: 19px;
}

.join_input input {
    width: 258px;
    height: 36px;
    padding: 0 19px 0 49px;
    border-radius: 20px;
    border: 1px solid var(--color-gray5);
    font-size: 14px;
    cursor: pointer;
}

.join_input input:focus {
    outline: 1px solid var(--color-green);
}

.join_input input::placeholder {
    color: var(--color-gray5);
}

.join_input .ji_password.password-mismatch {
    background-color: rgba(252, 54, 62, 0.1);
    outline: 1px solid rgba(252, 54, 62, 0.4);
}