.login_input {
    width: 258px;
    height: 84px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login_input input {
    height: 36px;
    border-radius: 20px;
    border: 1px solid #BCBCBC;
    cursor: pointer;
    padding: 0 17px;
    font-family: "nanumgothic";
}

.login_input input:focus {
    outline: 1px solid #72C85A;
}

.login_input input::placeholder {
    color: #BCBCBC;
    font-size: 14px;
    font-family: "nanumgothic";
}