.login_input {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 258px;
    height: 85px;
}

.login_input input {
    height: 36px;
    border-radius: 20px;
    border: 1px solid var(--color-gray5);
    padding: 0 17px;
    cursor: pointer;
}

.login_input input:focus {
    outline: 1px solid var(--color-green);
}

.login_input input::placeholder {
    color: var(--color-gray5);
    font-size: 14px;
}