.login_button {
    width: 254px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid var(--color-green);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.login_button.login_mode {
    background-color: var(--color-green);
    color: var(--color-white);
}

.login_button.join_form_mode {
    margin-top: 7px;
    background-color: var(--color-white);
    color: var(--color-green);
}

.login_button.join_mode {
    background-color: var(--color-green);
    color: var(--color-white);
}

.social_button {
    width: 69px;
    height: 57px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.ljb_set {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10.5px;
     width: 69px;
    height: 57px;
}

.ljb_set img {
    width: 35px;
    height: 35px;
}

.ljb_set span{
    font-size: 10px;
    color: var(--color-gray1);
}

.login_button:active,
.social_button:active {
    transform: scale(0.97);
}