.login_button {
    width: 254px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid var(--color-green);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.login_button.login_mode {
    background-color: var(--color-green);
    color: var(--color-white);
}

.login_button.join_form_mode {
    background-color: var(--color-white);
    color: var(--color-green);
}

.login_button.join_mode {
    background-color: var(--color-green);
    color: var(--color-white);
}

.social_button {
    width: 254px;
    height: 36px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.kakaoBtn {
    width: 254px;
    height: 36px;
}

.login_button:active,
.social_button img:active {
    transform: scale(0.97);
}