.Loading{
    padding-top: 90px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.Loading>p{
    position: relative;
    bottom: 30px;
    display: flex;
    gap: 8px
}

.Loading>p>span{
    font-family: "LOTTERIACHAB";
    font-size: 32px;
}

.Loading>img {
    animation: loading_img_animation 1.2s infinite alternate linear;
    position: relative;
    margin: 0 0 20px 0;
    width: 700px;
}

@keyframes loading_img_animation {
    0% { top: -10px; }
    100% { top: 10px; }
}