.pet_card {
    width: 308px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 28px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 15%);
    cursor: pointer;
    transition : transform 0.5s
}

.pet_card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 23%);
    transform:translateY(-8px);
}

/* 유기동물 사진 */
.pc_img {
    width:100%;
    height: 224px;
}

/* 유기동물 단어와 좋아요 버튼 */
.pc_top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px 20px;
}

.pc_words {
    width: 226px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.pc_words span {
    padding: 6px 10px;
    border-radius: 52px;
    background-color: var(--color-green);
    color: var(--color-white);
    font-size: 10px;
    font-weight: bold;
}

.pc_top>img {
    width: 24px;
}

.pc_like_btn img {
    width: 20.42px;
    height: 18.38px;
}

/* 유기동물 정보 */
.pc_info {
    display: flex;
    flex-direction: column;
    padding: 4px 28px 20px 28px;
}

.pc_info_row {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    gap: 20px;
}

.pc_info_row_item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.pc_info_row_item span {
    width: 80px;
    color: var(--color-gray1);
    font-size: 13px;
    font-weight: bold;
}

.pc_info_icon {
    width: 24px;
}